@media (min-width: 420px) {
    article .image {
        height: 287.5px;
    }

    h1 {
        font-size: 2.8em;
    }
}

@media (min-width: 809px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    nav {
        display: block;
        grid-column: 2;
        height: 85px;
    }

    .nav-menu {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-menu a {
        padding-top: 26px;
    }

    .about-me {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 615px;
        padding-bottom: 10px;
    }

    .about-image {
        grid-column: 2;
        max-width: 685px;
        margin-top: 70px;
    }

    .about-text {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .my-projects {
        padding-top: 30px;
    }

    .my-projects .boxes {
        max-width: 800px;
    }

    .all-projects-box {
        grid-template-columns: 1fr 1fr;
    }

    .contact .boxes {
        max-width: 1000px;
    }

    .contact-links {
        display: flex;
        gap: 30px;
    }

    nav a:hover {
        background: var(--color-black);
        color: var(--color-orange);
    }

    .wp-container-3 {
        position: relative;
        top: 26px;
    }
}

@media (min-width: 1200px) {
    .all-projects-box {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .my-projects .boxes {
        max-width: 1200px;
    }

    /* .about-me {
        padding-bottom: 75px;
    } */

    .my-projects h2,
    .contact h2 {
        text-align: center;
    }

    .my-projects .cta-box {
        width: 220px;
        margin: 20px auto;
    }

    .font-headings-text {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.8em;
    }

    .about-text {
        max-width: 500px;
    }

    .about-image {
        margin-top: 0;
        padding: 0;
    }

    .contact .boxes {
        max-width: 1200px;
    }

    .contact-links {
        gap: 80px;
        margin: auto;
        max-width: 927px;
    }

    .wp-container-5 {
        position: relative;
        top: 50px;
    }
}
