@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";

/* BACKGROUND COLORS */
body,
.my-projects .cta {
    background-color: var(--color-black);
}

.about .cta {
    background-color: var(--color-orange);
}

.my-projects {
    background-color: var(--color-grey-dark);
}

article {
    background-color: var(--color-grey-light);
}

/* TEXT COLOR */
body,
header a {
    color: var(--color-white);
}

.about .cta,
.my-projects,
.my-projects a {
    color: var(--color-black);
}

.my-projects .cta {
    color: var(--color-white);
}
