@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";

/* BACKGROUND COLORS */
body,
.my-projects .cta,
header {
    background-color: var(--color-black);
}

.nav {
    background-color: var(--color-black-opacity);
}

.about-text .cta {
    background-color: var(--color-orange);
}

.my-projects {
    background-color: var(--color-grey-dark);
}

article {
    background-color: var(--color-white);
}

/* TEXT COLOR */
body,
header a,
.fa-github,
.contact a {
    color: var(--color-white);
}

.about-text .cta,
.my-projects,
.my-projects a {
    color: var(--color-black);
}

.my-projects .cta,
nav a {
    color: var(--color-white);
}

nav a:hover,
nav a:focus {
    background: var(--color-orange);
    color: var(--color-black);
}

.hamburger,
nav a,
.logo,
.cta {
    cursor: pointer;
}

.my-projects,
.about-me,
.contact {
    scroll-margin-top: 89px;
}

/*testing */

.show {
    display: block;
}
