@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";

/* BACKGROUND COLORS */
body,
.my-projects .cta,
header,
.nav-menu {
    background-color: var(--color-black);
}

.about-text .cta {
    background-color: var(--color-orange);
}

.my-projects {
    background-color: var(--color-grey-dark);
}

article {
    background-color: var(--color-grey-light);
}

/* TEXT COLOR */
body,
header a,
.fa-github {
    color: var(--color-white);
}

.about-text .cta,
.my-projects,
.my-projects a {
    color: var(--color-black);
}

.my-projects .cta,
nav a {
    color: var(--color-white);
}
