* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

img {
    width: 100%;
}

nav a {
    display: block;
}

/* HEADER and navigation */
header {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

header,
nav {
    height: 85px;
}

.logo {
    height: 85px;
    padding: 16px 0 0 15px;
    box-sizing: border-box;
}

.logo a {
    position: relative;
    top: 5px;
}

.hamburger-icon {
    position: absolute;
    top: 29px;
    right: 31px;
}

.hamburger {
    position: absolute;
    top: 25px;
    right: 31px;
    background: 0;
    border: 0;
    font-size: 2em;
}

nav {
    display: none;
    width: 100%;
    position: absolute;
    height: 1000px;
}

nav a {
    padding: 20px 25px;
    /* text-align: center; */
    transition: 0.5s;
}

/* Padding, margin, borders */

header {
    border-bottom: 4px solid var(--color-black);
}

section {
    margin: 0 auto;
}

.boxes {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
}

.about-me {
    padding-bottom: 80px;
}

h2 {
    margin-bottom: 15px;
}

.about-image {
    padding: 0 0 0 10px;
    padding: 10px 10px 0 0;
}

.top-level,
.second-level {
    padding: 10px 0;
}

.second-level p {
    margin: 10px 0;
}

.cta {
    padding: 10px 60px 13px;
    width: 180px;
    box-sizing: border-box;
}

.wp-block-button__link {
    padding: 10px 35px;
}

.cta,
article,
.wp-block-button__link {
    border-radius: 25px;
}

article {
    /* box-shadow: 0 0 3px 3px #0000003b;
    /* background: linear-gradient(8deg, var(--color-orange) 10%, var(--color-grey-light) 10%); */
    /* background: linear-gradient(8deg, var(--color-orange) 10%, var(--color-grey-light) 30%, var(--color-grey-dark) 80%); */
    box-shadow: 0 2px 0 0 black, 0 4px 0 0 black, 0 4px 0 0 black;
    border: 3px solid black;
}

.cta-box {
    margin: 20px 0;
}

.my-projects .cta-box {
    padding: 20px 0 0;
}

.my-projects p,
article ul {
    padding: 10px 0;
}

article ul {
    margin-left: 25px;
}

article .text {
    padding: 10px;
}

/* .text a {
    padding: 5px 0;
} */

article .image {
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: top;
    height: 230px;
    border-radius: 20px 20px 0 0;
}

.contact {
    height: 500px;
}

.contact-box {
    margin: 20px 0;
    display: flex;
}

.github-link,
.email {
    margin-left: 15px;
}

footer p {
    /* text-align: center; */
    padding: 30px;
    font-weight: bolder;
}

/* article */

.text a {
    display: block;
}

.all-projects-box {
    display: grid;
    gap: 25px;
}

.wp-block-buttons {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    width: 271px;
}

.wp-block-group {
    height: 50px;
}
