/* Font- family */

.cta,
a {
    font-family: var(--font-links);
}

.logo a,
.font-headings-text,
h1,
h2,
h3 {
    font-family: var(--font-headings);
}

.nav-menu a,
p,
.email,
.github-link,
article ul {
    font-family: var(--font-regular);
}

/* Font-sizing */
nav a {
    font-size: 1.5em;
}

.hamburger-icon,
.logo {
    font-size: 2em;
}

.fa-github,
.fa-at,
.fa-linkedin {
    font-size: 2.8em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.2em;
}

.my-projects h3 {
    font-size: 1.6em;
}

.text a,
.top-level p,
.second-level p {
    font-size: 1.1em;
}

.email,
.github-link {
    font-size: 1.4em;
}

.cta {
    font-size: 1.2em;
}

/* Font styles/decoration */
.logo a {
    font-style: italic;
}
.font-headings-text,
h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

article a:hover,
.cta:hover,
.current,
.contact a,
.nav-menu a:hover {
    text-decoration: underline;
}

.p-one,
.font-headings-text {
    line-height: 1;
}

.p-two {
    line-height: 1.5;
}

.email:hover,
.github-link:hover {
    /* text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2rem; */
    color: var(--color-orange);
}

.contact-box a:hover,
.contact-box a i:hover {
    color: var(--color-orange);
}
