/* Font- family */
.logo,
.font-headings-text,
h1,
h2,
h3 {
    font-family: var(--font-headings);
}

.cta,
a,
.email {
    font-family: var(--font-links);
}

.nav-menu a,
p {
    font-family: var(--font-regular);
}

/* Font-sizing */
.logo {
    font-size: 1.7em;
}

nav a {
    font-size: 1.5em;
}

.hamburger-icon,
.fa-github,
.fa-at {
    font-size: 2em;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.2em;
}

.my-projects h3 {
    font-size: 1.6em;
}

.text a,
.email,
.github-link {
    font-size: 1.1em;
}

/* Font styles/decoration */

.font-headings-text,
h2 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

article a,
.current,
.contact a,
.nav-menu a:hover {
    text-decoration: underline;
}
